@model StudentViewModel

<div class="bg-danger">
    <div asp-validation-summary="All">
    </div>
</div>

<form method="post" asp-action="Update" asp-controller="Student">
    <input asp-for="StudentId" type="hidden" />
    <div class="row">
        <div class="col-3 text-black-50">Öğrenci Adı</div>
        <div class="col-3">
            <input asp-for="FirstName" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-3 text-black-50">Öğrenci Soyadı</div>
        <div class="col-3">
            <input asp-for="LastName" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-black-50">Öğrenci Doğum Tarihi</div>
        <div class="col-3">
            <input asp-for="BirthDate" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-3 text-black-50"></div>
        <div class="col-5">
            <input type="submit" value="Guncelle" class="btn btn-danger" />
        </div>
    </div>
</form>